/* ====== CONTAINER ====== */
.blogs__container {
    display: grid;
    grid-template-columns: 27% 70%;
    gap: 3rem;
}

/* ====== LEFT ====== */
/* FEATURED BLOGS */
.blog__left {
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.blogs__list {
    padding: .7rem;
    background: var(--color-primary);
    border-radius: 1rem;;
}

.blogs__list h5 {
    margin-bottom: .4rem;
    text-align: center;
}

.blogs button {
    background: var(--color-bg2);
    width: 100%;
    padding: 0.4rem 0.2rem;
    margin: .2rem auto;
    font-family: 'Montserrat', sans-serif;
    color: white;   
    font-size: 0.8rem;
    border-radius: 1rem;
    transition: var(--transition);
    cursor: pointer;
}

.blogs button:hover {
    letter-spacing: 0.5px;
}

/* NEWSLETTER */
.newsletter_ {
    padding: .7rem;
    background: var(--color-primary);
    border-radius: 1rem;;
}

.newsletter_ h5 {
    text-align: center;
    margin-bottom: .4rem;
}

.newsletter_ form {
    background: var(--color-bg2);
    border-radius: 1rem;
    display: grid;
    grid-template-columns: 68% 30%;
    gap: 3px;
    padding: 3px;
    margin: 0 auto;
}


.newsletter_ input[type="email"] {
    background: var(--color-light);
    padding: 4px 8px;
    border-radius: 1rem;
}

.newsletter_ input[type="submit"] {
    padding: 0.2rem;
    border-radius: 0.3rem;
    background: transparent;
    cursor: pointer;
    transition: var(--transition);
    color: var(--color-bg);
}

.newsletter_ input[type="submit"]:hover {
    color: var(--color-light);
    font-weight: bold;
}

/* SOCIALS */
.socials {
    margin: 5rem 0 9rem 0;
}

.socials h5 {
    text-align: center;
    margin-bottom: .4rem;
}

.blog__socials {
    display: grid;
    grid-template-columns:repeat(6, 1fr);
}

.blog__socials a {
    border: 1px solid transparent;
    padding: 0.2rem 0.3rem;
    transition: var(--transition);
}

.blog__socials a:hover {
    border-color: var(--color-light);
}

.check_out {
    padding: .7rem;
    background: var(--color-bg);
    border: 1px solid var(--color-bg2);
    border-radius: 1rem;;
}

.check_out h5 {
    text-align: center;
    margin-bottom: .4rem;
}

/* ====== RIGHT ====== */
.blog__right {
    padding: 2rem;
    background: var(--color-bg1);
    border-radius: 1rem;
}

.blog__data h3 {
    font-size: 2rem;
}

.blog__data {
    display: flex;
    flex-direction: column;
    gap: 0;
    margin-bottom: 1.2rem;
}

.author {
    font-weight: 600;
    margin: 0;
}

.release__date {
    font-style: italic;
}

.blog__image img {
    border-radius: 1rem;
}

.image__link a{
    text-decoration: underline;
}

.blog__article p {
    margin: 1rem 0;
}

.blog__article .semi__bold__text {
    font-weight: 700;
}

.blog__article .bold__text {
    font-weight: 900;
}

.blog__article .indent{
    margin-left: 1.2rem;
}

.blog__article .command_prompt {
    font-family: 'Courier New', Courier, monospace;
    background: black;
    width: 90%;
    border: 2px solid white;
    margin: 0 auto;
    padding: 0 2rem;
}

.blog__article .command_prompt.light {
    color: rgb(161, 161, 161);
}

.blog__article .vs__code {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: rgb(43, 42, 42);
    width: 90%;
    border: 2px solid rgb(255, 255, 107);
    margin: 0 auto;
    padding: 0 2rem;
    color: rgb(255, 255, 107)
}

.blog__sub__image {
    width: 90%;
    margin: 0 auto;
}

.blog__sub__image img {
    border: 2px solid white;
}

/* =========== MEDIA QUERIES =========== */
@media screen and (max-width: 1543px) {
    .newsletter_ form {
        grid-template-columns: 58% 40%;
    }
}

@media screen and (max-width: 1024px) {
    .blogs__container {
        display: flex;
        flex-direction: column-reverse;
    }

    /* ====== LEFT ====== */
    /* FEATURED BLOGS */
    .blog__left {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: flex-start;
    }

    /* SOCIALS */
    .socials {
        margin: 1rem 0 0 0;
    }

    .socials h5 {
        text-align: center;
        margin-bottom: .4rem;
    }
}

@media screen and (max-width: 600px) {
    .blog__left {
        display: grid;
        grid-template-columns: 1fr;
    }
    
    /* SOCIALS */
    .socials {
        margin: 2rem auto;
    }
}

